@model IEnumerable<DatabaseActivities.Models.Entity.Base>

@{
                /**/

                ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingBase)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActualNumber)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartingBase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualNumber)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
